<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445365196061-4u0n3q0nktn3stopmbjt3q5t17v95jsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445365196061-4u0n3q0nktn3stopmbjt3q5t17v95jsj</string>
	<key>API_KEY</key>
	<string>AIzaSyDyrdQRF0m7EU5G9TUZE1yGbv-x0sKZxMw</string>
	<key>GCM_SENDER_ID</key>
	<string>445365196061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.husalmous.myHealth</string>
	<key>PROJECT_ID</key>
	<string>myhealth-8366f</string>
	<key>STORAGE_BUCKET</key>
	<string>myhealth-8366f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445365196061:ios:e890e3a05e0bde335bfdf4</string>
</dict>
</plist>